USE [EPaaS]
GO
ALTER TABLE [dbo].[tblClientSessionHistory] DROP CONSTRAINT [FK_tblClientTokenHistory_tblBusiness]
GO
ALTER TABLE [dbo].[tblClientSessionCache] DROP CONSTRAINT [FK_tblClientSessionCache_tblBusiness]
GO
ALTER TABLE [dbo].[tblBusinessXml] DROP CONSTRAINT [FK_TblBusinessXml_TblBusiness]
GO
ALTER TABLE [dbo].[tblBusinessInitialUi] DROP CONSTRAINT [FK_tblBusinessInitialUi_tblBusiness]
GO
/****** Object:  Table [dbo].[tblClientSessionHistory]    Script Date: 10/23/2024 7:50:04 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblClientSessionHistory]') AND type in (N'U'))
DROP TABLE [dbo].[tblClientSessionHistory]
GO
/****** Object:  Table [dbo].[tblClientSessionCache]    Script Date: 10/23/2024 7:50:04 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblClientSessionCache]') AND type in (N'U'))
DROP TABLE [dbo].[tblClientSessionCache]
GO
/****** Object:  Table [dbo].[tblBusinessXml]    Script Date: 10/23/2024 7:50:04 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblBusinessXml]') AND type in (N'U'))
DROP TABLE [dbo].[tblBusinessXml]
GO
/****** Object:  Table [dbo].[tblBusinessInitialUi]    Script Date: 10/23/2024 7:50:04 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblBusinessInitialUi]') AND type in (N'U'))
DROP TABLE [dbo].[tblBusinessInitialUi]
GO
/****** Object:  Table [dbo].[tblBusiness]    Script Date: 10/23/2024 7:50:04 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblBusiness]') AND type in (N'U'))
DROP TABLE [dbo].[tblBusiness]
GO
/****** Object:  Table [dbo].[tblBusiness]    Script Date: 10/23/2024 7:50:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBusiness](
	[BusinessId] [int] IDENTITY(100000,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Exp] [nvarchar](max) NOT NULL,
	[Func] [nvarchar](max) NULL,
	[Lookup] [nvarchar](max) NULL,
	[State] [tinyint] NULL,
 CONSTRAINT [PK_tblBusiness] PRIMARY KEY CLUSTERED 
(
	[BusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBusinessInitialUi]    Script Date: 10/23/2024 7:50:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBusinessInitialUi](
	[BusinessInitialUiId] [int] IDENTITY(100000,1) NOT NULL,
	[BusinessId] [int] NOT NULL,
	[UiContent] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tblBusinessInitialUi] PRIMARY KEY CLUSTERED 
(
	[BusinessInitialUiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBusinessXml]    Script Date: 10/23/2024 7:50:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBusinessXml](
	[BusinessXmlId] [int] IDENTITY(100000,1) NOT NULL,
	[BusinessId] [int] NOT NULL,
	[TName] [nchar](50) NOT NULL,
	[Xml] [xml] NOT NULL,
	[XmlTitles] [nvarchar](max) NULL,
	[XmlTags] [nvarchar](max) NULL,
	[XmlColCount] [tinyint] NULL,
	[WhereClause] [nvarchar](max) NULL,
 CONSTRAINT [PK_TblBusinessXml] PRIMARY KEY CLUSTERED 
(
	[BusinessXmlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblClientSessionCache]    Script Date: 10/23/2024 7:50:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClientSessionCache](
	[ClientSessionCacheId] [numeric](18, 0) IDENTITY(100000,1) NOT NULL,
	[BusinessId] [int] NOT NULL,
	[TempRoute] [uniqueidentifier] NOT NULL,
	[ClientToken] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tblClientSessionCache] PRIMARY KEY CLUSTERED 
(
	[ClientSessionCacheId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblClientSessionHistory]    Script Date: 10/23/2024 7:50:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClientSessionHistory](
	[ClientSessionHistoryId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[BusinessId] [int] NOT NULL,
	[TempRoute] [uniqueidentifier] NOT NULL,
	[ClientToken] [nvarchar](max) NOT NULL,
	[SubmissionInput] [nvarchar](max) NULL,
	[SubmissionOutput] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblClientTokenHistory] PRIMARY KEY CLUSTERED 
(
	[ClientSessionHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblBusiness] ON 

INSERT [dbo].[tblBusiness] ([BusinessId], [Title], [Exp], [Func], [Lookup], [State]) VALUES (100000, NULL, N'[{''__res__pcbPerCm'':{''exp'':''0.000208125''}}]', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tblBusiness] OFF
GO
SET IDENTITY_INSERT [dbo].[tblBusinessInitialUi] ON 

SET IDENTITY_INSERT [dbo].[tblBusinessInitialUi] OFF
GO
SET IDENTITY_INSERT [dbo].[tblBusinessXml] ON 

SET IDENTITY_INSERT [dbo].[tblBusinessXml] OFF
GO
ALTER TABLE [dbo].[tblBusinessInitialUi]  WITH CHECK ADD  CONSTRAINT [FK_tblBusinessInitialUi_tblBusiness] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[tblBusiness] ([BusinessId])
GO
ALTER TABLE [dbo].[tblBusinessInitialUi] CHECK CONSTRAINT [FK_tblBusinessInitialUi_tblBusiness]
GO
ALTER TABLE [dbo].[tblBusinessXml]  WITH CHECK ADD  CONSTRAINT [FK_TblBusinessXml_TblBusiness] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[tblBusiness] ([BusinessId])
GO
ALTER TABLE [dbo].[tblBusinessXml] CHECK CONSTRAINT [FK_TblBusinessXml_TblBusiness]
GO
ALTER TABLE [dbo].[tblClientSessionCache]  WITH CHECK ADD  CONSTRAINT [FK_tblClientSessionCache_tblBusiness] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[tblBusiness] ([BusinessId])
GO
ALTER TABLE [dbo].[tblClientSessionCache] CHECK CONSTRAINT [FK_tblClientSessionCache_tblBusiness]
GO
ALTER TABLE [dbo].[tblClientSessionHistory]  WITH CHECK ADD  CONSTRAINT [FK_tblClientTokenHistory_tblBusiness] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[tblBusiness] ([BusinessId])
GO
ALTER TABLE [dbo].[tblClientSessionHistory] CHECK CONSTRAINT [FK_tblClientTokenHistory_tblBusiness]
GO
