@{
    Layout = "_Layout";
}
<h1></h1>
<div class="flex-container">
    <h3>User SessionID: <div style="color: lightseagreen">@ViewBag.SessionId</div></h3>
    <iframe class="iframe" src="http://localhost:3000/calc"></iframe>
</div>